.ts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .ts-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    flex-direction: column;
    font-size: 2em;
    text-transform: uppercase;
    margin-right: 30px;
    line-height: 0.45;
    color: white;
  }
  
  .ts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
  }
  
  .ts-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none; 
    color: #ffffff;
    transition: transform 0.3s ease;
    font-size: 3em;
  }
  
  .ts-item img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
  }
  
  .ts-item:hover {
    transform: scale(1.1);
  }
  
  .ts-item:hover:after {
    content: attr(data-tech);
    position: absolute;
    bottom: -30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.3em;
    white-space: nowrap;
  }