@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.main-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin-top: 10vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px;
  max-width: 900px;
  width: 100%;
}

.main h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
  text-transform: none;
  color: #ffffff;
  font-weight: 700;
}
  
.main p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 5px 0;
  color: #bbbbbb;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.main-text .subtitle {
  font-size: 1.1em;
  font-weight: 400;
  color: #999;
  margin-bottom: 15px;
}

.profile-pic-container {
  position: relative;
  width: 180px;
  height: 180px;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 1;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #bbb;
}

.location-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  filter: invert(1) brightness(0.8);
}

.logos {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: invert(1) grayscale(100%) brightness(0.8);
}

.logo:hover {
  transform: scale(1.1);
  filter: invert(1) grayscale(0%) brightness(1);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }

  .main-text {
    margin-left: 0;
    margin-top: 20px;
  }

  .profile-pic {
    width: 140px;
    height: 140px;
  }

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .logo {
    width: 35px;
    height: 35px;
  }
}
