.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .about {
    max-width: 600px;
    text-align: left;
  }
  
  .about h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .about p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .kalle {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 50%;
  }