@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html, body {
  font-family: 'Roboto';
  background-color: #303030;
  height: 140%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}