@import url('https://fonts.googleapis.com/css?family=Roboto:700');

:root {
  --background-color: #bdbdbd;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #1b1b1b;
  --text-color: #ffffff;
}


html, body {
  font-family: 'Roboto';
  background-color: var(--background-color);
  color: var(--text-color);
  height: 160%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}